body
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(209, 214, 255);
}
@keyframes bgcolor {
    0% {
        background-color: #8ef4ff
    }

    30% {
        background-color: #9b9bff
    }

    60% {
        background-color: #c396ff
    }

    90% {
        background-color: rgb(255, 186, 249)
    }

    100% {
        background-color: #a8ffc2
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

.text-heading {
    font-family: "Cairo Play", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" ;
    text-align: center;

}

.btn button {
    padding: 10px 20px;
    border: none;
    margin: 7px;
    border-radius: 5px;
    background-color: #313131;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; 
}

.btn1 button:hover {
    background-color: #ff00aa;
}
.btn2 button:hover {
    background-color: #24292e;
}
.btn3 button:hover {
    background-color: #0077b5;
}

.btn3.1 button:hover {
    background-color: #1ED760;
}
.btn4 button:hover {
    color: #333;
    background-color: #7ffffb;
}
.btn5 button:hover {
    color: #333;
    background-color: #ffffff;
}

@media screen and (max-width: 600px) {
    .btn button {
        padding: 8px 16px;
    }
}
